.container {
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 0;
  text-align: center;
}
/* ==== Wrappers ==== */

/* .monitor {
  min-height: 100vh;
} */
.control-area {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-top: 3rem;
}

.for-boilers {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5em;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;
}
.for-sensors {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 10rem;
  row-gap: 5rem;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    padding-top: 0rem;
  }
}
